body{
  margin:0;
  background:#0b0f1a;
  font-family:Arial;
  color:white;
  text-align:center;
}

.game-container{
  padding:20px;
}

.top-bar{
  background:#111827;
  padding:10px;
  border-radius:10px;
}

.sky{
  position:relative;
  height:300px;
  margin:20px 0;
  background:linear-gradient(to top,#111827,#1f2937);
  border-radius:15px;
  overflow:hidden;
}

#plane{
  position:absolute;
  font-size:30px;
  left:10px;
  bottom:20px;
  transition: all 0.1s linear;
}

#multiplier{
  position:absolute;
  top:20px;
  width:100%;
  font-size:40px;
  color:#ff3b3b;
  font-weight:bold;
}

button{
  padding:12px;
  width:100%;
  border:none;
  border-radius:10px;
  background:#ff3b3b;
  color:white;
  font-size:18px;
}
